body{
      margin: 0;
}
.section-categories {
   background-color: rgb(255, 255, 255);
   width: 100vw;
  margin-left: calc(50% - 50vw);
  height: 460px;

}


.container-home{
    margin-top: 100px;
    
}

.nav-cat-link-bioma {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  color: black;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-cat-link-bioma.active{
     background-color: #fa7203;
     color: #ffffff;
}

.nav-cat-link-bioma:hover{
   background-color: #ffffff;
   color: black;
    transform: translateY(-4px);
}

.nav-cat-link.active {
  background-color: #c20292;
  color: white;
}

.nav-cat-link{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
     border-radius: 20px;
   color: black;
   transition: background-color 0.3s ease, transform 0.3s ease;
 
}

.nav-cat-link:hover{
   background-color: #f8e7f2;
   color: black;
    transform: translateY(-4px);
}


.carousel-wrapper {
  position: relative;
  width: 1700px;
  margin: 0 auto;
}

.carousel-home {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  margin-top: 40px;
  padding: 16px 40px;
}

.carousel-home::-webkit-scrollbar {
  display: none;
}

.card-categoria {
  min-width: 280px;
  flex-shrink: 0;
}




.carousel-home-control-prev,
.carousel-home-control-next {
  position: absolute;
  top: 30%;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.carousel-home-control-prev:hover {
     background: rgb(255, 255, 255);
}
.carousel-home-control-next:hover {
  background: rgb(255, 255, 255);
}

.carousel-home-control-prev {
  left: 0;
}

.carousel-home-control-next {
  right: 0;
}


.section-other {
  width: 100vw;
  height: 560px;
  background-color: rgb(223, 235, 236);
  padding: 40px 0;
  margin-left: calc(50% - 50vw);
}

.create-album{
    width: 400px;
    height: 200px;
    border-radius: 30px;
    background-color: #ffffff;
    color: rgb(70, 160, 10);
     box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.create-album:hover{
    background-color: #ffffff;
}