body{
      margin: 0;
}
.section-categories {
   background-color: rgb(208, 221, 223);
   width: 100vw;
  margin-left: calc(50% - 50vw);
  height: 460px;

}

.container-cat {
  width: 930px;
  height: 460px;
  background-color: rgb(255, 255, 255);
}

.btn-todas,
.btn-nacional,
.btn-internacional{
    width: auto;
    height: 45px;
   background-color: rgb(25, 201, 63);
   margin-left: 20px;
   border-radius: 20px;
   
}

.btn-todas,
.btn-nacional,
.btn-internacional:hover {
 background-color: rgb(40, 25, 128);
  transform: translateY(-4px);
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}