body{
      margin: 0;
}
.section-categories {
   background-color: rgb(208, 221, 223);
   width: 100vw;
  margin-left: calc(50% - 50vw);
  height: 460px;

}

.container-cat {
  width: 930px;
  height: 460px;
  background-color: rgb(255, 255, 255);
}

.btn-todas,
.btn-nacional,
.btn-internacional{
    width: auto;
    height: 45px;
   background-color: rgb(71, 160, 130);
   margin-left: 20px;
   border-radius: 20px;
   
}