body{
      margin: 0;
}
.section-categories {
   background-color: rgb(208, 221, 223);
   width: 100vw;
  margin-left: calc(50% - 50vw);
  height: 460px;

}

.container-cat {
  width: 1230px;
  height: 460px;
  background-color: rgb(255, 255, 255);
}


.nav-cat-link.active {
  background-color: #736891;
  color: white;
}

.nav-cat-link{
    background-color: rgb(255, 255, 255);
   color: black;
}

.nav-cat-link:hover{
   background-color: #f0ebff;
}
