@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.carousel.slide {
  height: 800px;
  width: 600px;
  background-color: #7fb0f1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.carousel-inner {
  width: 100%;
  height: 100%;
}

.carousel-item {
  width: 100%;
  height: 100%;
}


.slide-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.carousel-inner .carousel-item:nth-child(3),
.carousel-inner .carousel-item:nth-child(3).active {
  background-color: #ffffff;
}


.card-login {
  background: white;
  width: 420px;
  padding: 30px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}



.email-field,
.pass-field {
  width: 100%;
  max-width: 360px;
  height: 37px;
  margin-bottom: 40px;
  padding-left: 20px;
  border: none;
  border-radius: 20px;
  box-shadow: rgba(0,0,0,.2) 0px 12px 28px,
              rgba(0,0,0,.1) 0px 2px 4px;
}

.text-welcome,
.text-about {
  color: white;
  text-align: center;
  
}

.submit-login {
  width: 100%;
  background-color: rgb(71, 160, 130);
  border-radius: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit-login:hover {
  background-color: rgb(142, 206, 185);
  transform: translateY(-4px);
}