.carousel-iner{
    width: 100px;
}


.carousel.slide {
    height: 800px;
    width: 600px;
    background-color: #7fb0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.253) 0px 5px 15px;
}

.LoginCard {
    margin: 0 auto;
   width: 100px;
   height: 800px;
   justify-content: center;
   align-items: center;

}


.carousel-control-prev{
    background-color: rgba(23, 179, 18, 0);
    border: none;
    border-radius: 5px;
    padding: 10px;
  
}

.carousel-control-next{
    background-color: rgba(25, 116, 161, 0);
    border: none;
    border-radius: 5px;
    padding: 10px;
}


.text-welcome{
  color: rgb(255, 255, 255);
}

.text-about{
    color: rgb(255, 255, 255);
}


.card-about{
  width: 100%;
  padding: 30px;
 
}

.card-login{
    width: 100%;
    justify-content: center;
}
.name-field{
    width: 380px;
    height: 35px;
    border: none;
    border-radius:20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.email-field{
    width: 380px;
    height: 35px;
    border: none;
    border-radius:20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}