.carousel-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.carousel {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.card-cidade {
  min-width: 250px;
}