.card-registro{
height: 800px;
  width: 600px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.nome-input{
  width: 100%;
  max-width: 360px;
  font-size: 14px;
  height: 38px;
  margin-bottom: 15px;
  padding-left: 20px;
  border: none;
  border-radius: 20px;
  background-color: #f3eeee;
}

.sobrenome-input{
  width: 100%;
  max-width: 360px;
  font-size: 14px;
  height: 38px;
  margin-bottom: 39px;
  padding-left: 20px;
  border: none;
  border-radius: 20px;
  background-color: #f3eeee;
}