@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
 .Navbar{
  width: 100%;
  background-color: blueviolet;
  height: 30px;
 }